.project {
    display: flex;
    margin: $sp-4;
  
    .photo {
      border-radius: 50%;
      height: 100px;
      margin-right: $sp-4;
      float: left;
    }

  
    .project {
        margin: $sp-1 !important;
      }
      
    
      .project-title {
        @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
        text-align: center;
        border-radius: 4px;
      }
  
    p,
    .project {
      margin: $sp-1 !important;
    }
    
  
    .project-title {
      @extend .label, .text-grey-dk-100, .bg-grey-lt-200;
      text-align: center;
      border-radius: 4px;
    }
  
    .staffer-meta {
      @extend .text-grey-dk-000;
    }
  }
  
  .badge-domains {
    display: inline-block ;
    background-color: #0e5cc1;
    font-size: 12px;
    color: white;
    padding: 2px 4px;
    text-align: center;
    border-radius: 4px;
    // width: 45px;
  }
  