<div style="text-align: left;">
    <a href="https://github.com/jacquelinekclee"><img style="height: 50px; margin: 5px 20px 5px 5px;"class = "photo" src="{{site.baseurl}}/github.png" alt=""></a>
    <a href="https://www.linkedin.com/in/jacqueline-kc-lee/"><img style="height: 50px; margin: 5px 20px 5px 5px;"class = "photo" src="{{site.baseurl}}/linkedin.png" alt=""></a>
    <a href="mailto:jacquelinekclee@yahoo.com"><img style="height: 50px; margin: 5px 5px 5px 5px;"class = "photo" src="{{site.baseurl}}/email.png" alt=""></a>
</div>
