<div class="staffer">
    <hr>
    {% if page.photo %}
    <img class="company-logo" src="{{ page.photo | relative_url }}" alt="">
    {% endif %}
    <div>
      <h2 class="company">
        <a href=page.link>{{ page.company }}</a>
        {% if page.title %}
        <div class="title"><b>{{ page.title }}</b></div>
        {% endif %}
      
      </h2>

      {% if page.location %}
      <p title="Location">📍 {{ page.location }}</p>
      {% endif %}
      
      <h4>My Role</h4>

      <p title="My Role">👩🏻‍💻 {{ page.role }}</p>
  
      <h4>Key Accomplishments</h4>

      <p title="accomplishment1">✅ {{ page.accomplishment1 }}</p>

      <p title="accomplishment2">✅ {{ page.accomplishment2 }}</p>

      <p title="accomplishment3">✅ {{ page.accomplishment3 }}</p>
  
  
      {% if page.technologies %}
      <p title="Technologies Used">⚙️ {{ page.technologies }}</p>
      {% endif %}
  
    
  
      <!-- {{ content }} -->
      
    </div>
  </div>