<h1> testing {{ page.company }}</h1>

<div class="experience">
    <hr>
    {% if page.photo %}
    <img class="company-logo" src="{{ page.photo | relative_url }}" alt="">
    {% endif %}
    <div>
      <h2 class="company">
        <a href="{{ page.link }}">{{ page.company }}</a>
        
        <br>

        <p class="label label-purple"> <b> {{ page.experience-title }}</b></p>
      
      </h2>

    <p>
        {% if page.location %}
            <span style="float:left;">
                <p title="Location">📍 {{ page.location }}</p>
            </span>
        {% endif %}
        <span style="float:right;">
            <p title="dates">📆 {{ page.startdate }} - {{ page.enddate }}</p>
        </span>
    </p>



      <!-- {% if page.location %}
      <p title="Location">📍 {{ page.location }}</p>
      {% endif %} -->

      <!-- <p title="dates">📆 {{ page.startdate }} - {{ page.enddate }}</p> -->
    
      {% if page.role %}
      <h4>My Role</h4>
      <p title="My Role">👩🏻‍💻 {{ page.role }}</p>
      {% endif %}
  
      <h4>Key Accomplishments</h4>

      {% if page.accomplishment1 %}
      <p title="accomplishment1">✅ {{ page.accomplishment1 }}</p>
      {% endif %}

      {% if page.accomplishment2 %}
      <p title="accomplishment2">✅ {{ page.accomplishment2 }}</p>
      {% endif %}

      {% if page.accomplishment3 %}
      <p title="accomplishment3">✅ {{ page.accomplishment3 }}</p>
      {% endif %}
  
      {% if page.technologies %}
      <h4>Technologies Used</h4>
      <p title="Technologies Used">⚙️ {{ page.technologies }}</p>
      {% endif %}
  
    
  
      <!-- {{ content }} -->
      
    </div>
</div>